* {
	background-color: #F6C847;
}

.title {
	text-align: center;
	font-family: 'Bree Serif', serif;
	color: #B12411;
	font-size: 500%;
}



.text-center {
	font-family: 'Bree Serif', serif;
	font-size: 120%;
}

.form-group {
	margin-left: 30%;
	margin-right: 30%;
}

.burgerImage {
	padding-top: 30px;
}

.list-group-item, .list-group-item:first-child,  .list-group-item:last-child {
	background-color: #25C38E;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-width: 5px;
	border-color: #25C38E;
	margin-top: 10px;
	border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    text-align: center;
}




.bottomForm{
	background-color: #25C38E;
}
